* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
}

.search {
  margin-top: 10px;
}

.search input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.side-menu button {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid #333;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}


.side-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 20px auto;
}



.side-menu button:hover {
  background: #fff;
  color: #000;
  transform: translateY(-2px);
}

.side-menu button:active {
  transform: scale(0.95);
}

.card-producto {
  background: #111;
  border-radius: 12px;
  padding: 12px;
  height: 100%;
}

.card-producto img {
  width: 100%;
  border-radius: 10px;
}

.card-producto h3 {
  margin: 10px 0 4px;
  font-size: 16px;
}

.precio {
  color: #00ff88;
  font-weight: bold;
}

.card-producto button {
  display: block;
  margin: 12px auto 0;
  padding: 10px 24px;
  background: #ff3b3b;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}


/* MOBILE MENU (pantallas chicas) */
@media (max-width: 991px) {
  .side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    background: #111;
    padding: 20px;
    transition: .3s;
    z-index: 1000;
  }

  .side-menu.open {
    left: 0;
  }
}
